.dashboard {
  min-height: 100vh;

  background: #000;

  padding: 1rem;
}

.dashboard-grid {
  display: grid;

  grid-template-columns: 1fr;

  gap: 1rem;
}

/* Tablet */

@media (min-width: 768px) {

  .dashboard-grid {
    grid-template-columns:
      repeat(2, 1fr);
  }

}

/* Desktop */

@media (min-width: 1200px) {

  .dashboard-grid {
    grid-template-columns:
      1.2fr 1fr 1fr;
  }

}