.modal-overlay {
  position: fixed;

  inset: 0;

  background:
    rgba(
      0,
      0,
      0,
      .8
    );

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 1rem;
}

.modal-content {
  background: white;

  color: black;

  max-width: 600px;

  width: 100%;

  border-radius: 16px;

  padding: 1.5rem;

  position: relative;
}

.modal-content img {
  width: 100%;

  border-radius: 12px;

  margin-bottom: 1rem;
}

.close-btn {
  position: absolute;

  top: 1rem;

  right: 1rem;

  width: 40px;

  height: 40px;

  border-radius: 50%;
}